*{
    padding: 0;
    margin: 0;
    box-sizing: border-boxs;
}
body{
    background-color: rgb(110, 166, 146);
}
button{
    width: 40px;
    height: 40px;
    background: url(./pics/magnifying-glass-svgrepo-com.svg) no-repeat center / 25px aquamarine;
    border: none;
    cursor: pointer;
    vertical-align: top;

} 
div{
    border: aqua 2px solid;
    display: inline-block;
    border-radius: 3px;
    background-color: beige;
    margin: 50px;
     
}
input{
    padding: 11px 10px 9px;
    vertical-align: top;
    border: none;
    background-color: beige;
}
input:focus{
    border: none;
    outline: none;
}
input::placeholder{
    color:gray;
}
input:focus::placeholder{
    opacity: 0;
}